sudo: false

language: scala

jdk: openjdk8

script:
  - sbt "++${TRAVIS_SCALA_VERSION}" "${SBT_CMD}"

matrix:
  include:
  - env: SBT_CMD="test"
    scala: 2.10.7
  - env: SBT_CMD="test"
    scala: 2.11.12
  - env: SBT_CMD="test"
    scala: 2.12.6
  - env: SBT_CMD="test"
    scala: 2.13.0
